<div class="container-fluid">
	<div class="row">
		<div class="col-md-10 col-md-offset-1 content">
			<div class="col-md-12">
				<h1 class="aboutTitle">About the Artist</h1>
				<img class="rounded" src="img/gan.jpg">
			</div>
			<div class="col-md-10 col-md-offset-1 contentText">
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed ultrices consequat tortor, ut dictum enim feugiat sit amet. Suspendisse non felis porta, vulputate tortor non, posuere nibh. Suspendisse potenti. Praesent maximus efficitur ultrices. Sed ullamcorper urna leo, non accumsan purus blandit eu. Integer sit amet lacus et nibh lobortis eleifend. Pellentesque malesuada facilisis quam quis congue. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Donec tincidunt, tortor eu tempor pharetra, urna nisl placerat metus, sed convallis justo justo sed lectus. Quisque eu mollis est, in condimentum tellus. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc sagittis justo nec nibh bibendum, eu commodo libero convallis.
				</p>
			</div>
		</div>
	</div>
</div>
