<div class="container-fluid">
	<div class="row">
		<div class="col-md-10 col-md-offset-1 content">
			<div class="col-md-12">
				<ul class="breadcrumb cl-effect-1">
					<li><a href="/">Home</a></li>
					<li class="active">About</li>
				</ul>
				<h1 class="aboutTitle">About the Artist</h1>
				<img class="rounded" src="img/gan.jpg">
			</div>
			<div class="col-md-10 col-md-offset-1 contentText">
				<p>
					Desmond Ross was born in Garston, Liverpool in 1931. 
				</p>
				<p>
					He left school 14 and served an apprenticeship as a poster and signwriter for a local company. He then took this on as a career and was incredibly successful in running his own signwriting business spanning decades. In 1956 he married and moved to Wavertree, which has been the leading inspiration behind most of his paintings. 
				</p>
				<p>
					Desmond has always been interested in both art and social history and understands the importance of his art in preserving the current social history of many parts of Liverpool and most notably Wavertree.
				</p>
			</div>
		</div>
	</div>
</div>
