<div class="container-fluid">
	<div class="row">
		<div class="col-md-10 col-md-offset-1 content">
			<div class="col-md-10 col-md-offset-1">
				<ul class="breadcrumb cl-effect-1">
					<li><a href="/">Home</a></li>
					<li class="active">Contact</li>
				</ul>
				<h1 class="aboutTitle">Contact Us</h1>
				<p class="contentText">For any enquiries about the paintings, please email us at contact@desmondross.com.</p>
			</div>
		</div>
	</div>
</div>
