<div class="container-fluid">
	<div class="row">
		<div class="col-md-10 col-md-offset-1 content">
			<div class="col-md-10 col-md-offset-1">
				<ul class="breadcrumb cl-effect-1">
					<li><a href="/">Home</a></li>
					<li class="active">Contact</li>
				</ul>
				<h1 class="aboutTitle">Contact Us</h1>
				<p class="contentText">For any enquiries about the paintings, please email us at contact@desmondross.com.</p>
				<form action="https://formspree.io/alexmoore94@hotmail.co.uk" method="POST">
					<div class="formInput">
						<label for="name">Name:</label>
					    <input type="text" name="name">
					</div>
					<div class="formInput">
					    <label for="email">Your Email:</label>
					    <input type="email" name="_replyto">
					</div>
					<div class="formInput">
					    <label for ="enquiry">Your Query:</label>
					    <textarea type="text" name="enquiry"></textarea>
					</div>
					<div class="formInput">
					    <input type="submit" value="Send">
					</div>
				</form>
			</div>
		</div>
	</div>
</div>
