<div class="container-fluid gallery">
	<div class="row">
		<div class="col-md-10 col-md-offset-1 content text-center">
			<div class="row contentRow">
				<h2 class="title">Home</h2>
				<p class="subtitle">Desmond Ross is a local Wavertree artist who enjoys capturing snapshots of Liverpool social history through his paintings.</p>
				<p class="subtitle">Click on the images to see more:</p>
				<div class="col-xs-6 col-md-6 galiria">
					<figure class="captionjs animated">
						<img class="img1" src="img/pics/abbey-cinema.jpg" name="abbey-cinema" alt="Abbey Cinema, Wavertree">
							<figcaption itemprop="name" style="margin-bottom:0px; bottom:-58px;">
								Abbey Cinema, Wavertree
							</figcaption>
					</figure>
				</div>
				<div class="col-xs-6 col-md-6 galiria">
					<figure class="captionjs animated">
						<img class="img1" src="img/pics/blue-coat-school.jpg" name="blue-coat-school" alt="The Blue Coat School">
							<figcaption itemprop="name" style="margin-bottom:0px; bottom:-58px;">
								The Blue Coat School
							</figcaption>
					</figure>
				</div>
				<div class="col-xs-6 col-md-6 galiria">
					<figure class="captionjs animated">
						<img class="img1" src="img/pics/bligh-street.jpg" name="bligh-street" alt="Bligh Street, Wavertree">
							<figcaption itemprop="name" style="margin-bottom:0px; bottom:-58px;">
								Bligh Street, Wavertree
							</figcaption>
					</figure>
				</div>
				<div class="col-xs-3 col-md-3 galiria">
					<figure class="captionjs animated">
						<img class="img1" src="img/pics/banksy-in-liverpool.jpg" name="banksy-in-liverpool" alt="Banksy in Liverpool">
							<figcaption itemprop="name" style="margin-bottom:0px; bottom:-58px;">
								Banksy in Liverpool
							</figcaption>
					</figure>
				</div>
				<div class="col-xs-3 col-md-3 galiria">
					<figure class="captionjs animated">
						<img class="img1" src="img/pics/shankly.jpg" name="shankly" alt="Bill Shankly">
							<figcaption itemprop="name" style="margin-bottom:0px; bottom:-58px;">
								Bill Shankly
							</figcaption>
					</figure>
				</div>
				<div class="col-xs-6 col-md-6 galiria">
					<figure class="captionjs animated">
						<img class="img1" src="img/pics/cambridge-street-mission.jpg" name="cambridge-street-mission" alt="The Cambridge Street Mission, Wavertree">
							<figcaption itemprop="name" style="margin-bottom:0px; bottom:-58px;">
								The Cambridge Street Mission, Wavertree
							</figcaption>
					</figure>
				</div>
				<div class="col-xs-6 col-md-6 galiria">
					<figure class="captionjs animated">
						<img class="img1" src="img/pics/cameo.jpg" name="cameo" alt="The Cameo Cinema">
							<figcaption itemprop="name" style="margin-bottom:0px; bottom:-58px;">
								The Cameo Cinema
							</figcaption>
					</figure>
				</div>
				<div class="col-xs-6 col-md-6 galiria">
					<figure class="captionjs animated">
						<img class="img1" src="img/pics/carlisle-street-wavertree.jpg" name="carlisle-street-wavertree" alt="Carlisle Street, Wavertree">
							<figcaption itemprop="name" style="margin-bottom:0px; bottom:-58px;">
								Carlisle Street, Wavertree
							</figcaption>
					</figure>
				</div>
				<div class="col-xs-6 col-md-6 galiria">
					<figure class="captionjs animated">
						<img class="img1" src="img/pics/falling-star.jpg" name="falling-star" alt="Falling Star">
							<figcaption itemprop="name" style="margin-bottom:0px; bottom:-58px;">
								Falling Star
							</figcaption>
					</figure>
				</div>
			</div>
		</div>
	</div>
</div>
<script src="bower_components/jquery/dist/jquery.min.js"></script>
<script src="dist/script.js" type="text/javascript"></script>
