
<div class="container-fluid gallery">
	<div class="row">
		<div class="col-md-10 col-md-offset-1 content">
			<div class="col-md-12 galiria">
				<figure class="captionjs animated">
					<img class="img1" src="img/pics/abbeyCinema.jpg" alt="blah blah blag vmvfl mfvolmf">
						<figcaption itemprop="name" style="margin-bottom:0px; bottom:-58px;">
							Abbey Cinema, Wavertree
						</figcaption>
				</figure>
			</div>
			<div class="col-md-12 galiria">
				<figure class="captionjs animated">
					<img class="img1" src="img/pics/blueCoatSchool.jpg" alt="blah blah blag vmvfl mfvolmf">
						<figcaption itemprop="name" style="margin-bottom:0px; bottom:-58px;">
							The Blue Coat School
						</figcaption>
				</figure>
			</div>
			<div class="col-md-12 galiria">
				<figure class="captionjs animated">
					<img class="img1" src="img/pics/blighStreet.jpg" alt="blah blah blag vmvfl mfvolmf">
						<figcaption itemprop="name" style="margin-bottom:0px; bottom:-58px;">
							Bligh Street, Wavertree
						</figcaption>
				</figure>
			</div>
			<div class="col-md-6 galiria">
				<figure class="captionjs animated">
					<img class="img1" src="img/pics/banksyInLiverpool.jpg" alt="blah blah blag vmvfl mfvolmf">
						<figcaption itemprop="name" style="margin-bottom:0px; bottom:-58px;">
							Banksy in Liverpool
						</figcaption>
				</figure>
			</div>
			<div class="col-md-6 galiria">
				<figure class="captionjs animated">
					<img class="img1" src="img/pics/shankley.jpg" alt="blah blah blag vmvfl mfvolmf">
						<figcaption itemprop="name" style="margin-bottom:0px; bottom:-58px;">
							Bill Shankley
						</figcaption>
				</figure>
			</div>
			<div class="col-md-12 galiria">
				<figure class="captionjs animated">
					<img class="img1" src="img/pics/cambridgeStreetMission.jpg" alt="blah blah blag vmvfl mfvolmf">
						<figcaption itemprop="name" style="margin-bottom:0px; bottom:-58px;">
							The Cambridge Street Mission, Wavertree
						</figcaption>
				</figure>
			</div>
		</div>
	</div>
</div>
<script src="bower_components/jquery/dist/jquery.min.js"></script>
<script src="dist/script.js" type="text/javascript"></script>

