body {
	background-image: url("../img/gradient_squares.png");
	background-repeat: repeat;
}

.pad {
	padding-right: 10px;
}

.header {
	height: 100px;
	background-color: black;
}

footer {
	text-align: center;
	color: #6C6C6C;
	font-family: 'Open Sans', sans-serif;
}

img.logo {
	display: block;
	margin: 70px auto 30px auto;
	height: 300px;
	width: 600px;
}

.content {
	padding-top: 30px;
	margin-top: 50px;
	height:100%;
	min-height: 100%;
	background-color: whitesmoke;
}

.content ul {
	text-align: left;
	color: black;
}

.content li {
	padding-left: 2px;
}
.content a {
	color: black;
	font-weight: 500;
	text-decoration: none;
}

.img1 {
	margin: 20px 10px 10px 10px;
	max-width: 100%;
	height: 400px;
	text-align:center;
	cursor: pointer;
	cursor: hand;
}

.captionjs figcaption {
	padding: 10px 15px;
	width: 100%;
	margin-left: 10px;	
}

.captionjs.animated figcaption {
	background-color: rgba(0, 0, 0, 0.75);
	color: #fff;
	border: none;
	text-align: center;
}

.rounded { 
	height:300px;
	width:300px;
	border-radius: 50%;
	display: block;
	margin: 0 auto;
	margin-top: 20px;
}

.box {
	text-align: center;
	margin: auto;
}

.logo1 {
	margin: 0 20px 0 0;
}

.aboutTitle {
	color: #6C6C6C;
	text-align: center;
	margin-bottom: 5%;
	font-size: 50px; 
	font-family: 'Open Sans', sans-serif;
}

.contentText {
	margin-top: 7%;
	color: #343333;
	font-size: 30px;
	font-family: 'Open Sans', sans-serif;
	text-align: center;
}

.imgLarge {
	max-width: 100%;
	max-height: 1000px;
	padding: 0 20px 15px 20px;
}

.imageTitle {
	color: #6C6C6C;
	font-size: 50px;
	font-family: 'Open Sans', sans-serif;
	padding: 0 0 30px 0;
}

.imgDescription {
	font-family: 'Open Sans', sans-serif;
	font-size: 25px;
}

.title {
	color: #6C6C6C;
	font-size: 50px;
	font-family: 'Open Sans', sans-serif;
}

.breadcrumb>li+li:before {
	padding: 0 14px 0 0;
}

.footer {
	padding: 10px 0;
}